<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astar.order_admin.mapper.DishMapper">
    <insert id="insertDishInfo">
        INSERT INTO dish_info
        (di_ri_seq,di_name,di_price,di_img_seq,di_description)
        VALUES
        (#{di_ri_seq},#{di_name},#{di_price},#{di_img_seq},#{di_description})
    </insert>

    <select id="selectDishInfoByRestaurant" resultType="com.astar.order_admin.data.DishInfoVO">
        select * from dish_info where di_ri_seq = #{ri_seq} 
    </select>
    <select id="selectOptionBlockInfoByDish" resultType="com.astar.order_admin.data.OptionBlockInfoVO">
        select * from option_block_info where opt_di_seq =  #{di_seq};
    </select>
    <select id="selectOptionDescInfoByBlock" resultType="com.astar.order_admin.data.OptionDesctiptionInfoVO">
        select * from option_desctiption_info where desc_opt_seq = #{opt_seq};
    </select>
</mapper>
