<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astar.order_admin.mapper.RestaurantMapper">

    <insert id="insertRestaurantInfo">
        INSERT INTO restaurant_info
        (ri_mi_seq, ri_name, ri_min_price, ri_delivery_fee, ri_address, ri_cate_seq)
        VALUES
        (#{ri_mi_seq}, #{ri_name}, #{ri_min_price}, #{ri_delivery_fee}, #{ri_address}, #{ri_cate_seq})
    </insert>

    <select id="selectRestaurantInfoBySeq" resultType="com.astar.order_admin.data.RestaurantInfoVO">
        SELECT * FROM restaurant_info
        WHERE ri_mi_seq = #{seq}
        LIMIT 10 OFFSET #{offset}
    </select>
    <delete id="deleteRestaurantInfoBySeq">
        DELETE FROM restaurant_info
        WHERE ri_seq = #{ri_seq} AND ri_mi_seq = #{ri_mi_seq}
    </delete>
    <update id="updateRestaurantInfo">
        UPDATE restaurant_info
        SET 
            ri_name=#{ri_name},
            ri_min_price=#{ri_min_price},
            ri_delivery_fee=#{ri_delivery_fee},
            ri_address=#{ri_address}
        WHERE ri_seq= #{ri_seq} AND ri_mi_seq = #{ri_mi_seq}
    </update>







    <select id="selectRestaurantInfo" resultType="com.astar.order_admin.data.RestaurantInfoVO">
        SELECT * FROM restaurant_info
        <if test="keyword != null">
        WHERE ri_name Like '%${keyword}%'
        </if>
        LIMIT 10 OFFSET #{offset}
    </select>
    <select id="selectRestaurantInfoPageCnt" resultType="java.lang.Integer">
        SELECT ceil(count(*)/10) FROM restaurant_info
        <if test="keyword != null">
        WHERE ri_name Like '%${keyword}%'
        </if>
    </select>
    <select id="selectRestaurantInfoTotalCnt" resultType="java.lang.Integer">
        SELECT count(*) FROM restaurant_info
        <if test="keyword != null">
        WHERE ri_name Like '%${keyword}%'
        </if>
    </select>
</mapper>